.cabecera{
    width: 100%;
    height: 500px;
}
.cabecera>img{
    height: 25%;
    width: 25%;
    padding: 25px 10px 10px 100px; 
    cursor: pointer;
    float: left;
}

.menu {
    padding: 70px;
    height: 20%;
    float:inline-end;
}
ul {
    list-style: none;
    padding: 60px;
    display:flex;
    height: max-content;
    position: inherit;
}

ul li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: inline-end;
    font-size: 20px;
    padding: 15px;
    color: rgb(146, 146, 146); 
    border-radius: 5px;
    border: 30px;
    width: max-content;
    font-size:medium;
}
ul li a{
    color:rgb(146, 146, 146);
    text-decoration: none;
}

ul li :hover{
    text-decoration: none;
    color: rgb(35, 190, 76);
    cursor: pointer;
}